# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

tmp/
fluxfw-gcp/img/flux-compute-builder-startup-script.sh
fluxfw-gcp/img/flux-image-builder-startup-script.sh
fluxfw-gcp/img/flux-login-builder-startup-script.sh
fluxfw-gcp/img/flux-manager-builder-startup-script.sh
fluxfw-gcp/img/image-builder-enc.key
fluxfw-gcp/img/image-builder.key
fluxfw-gcp/tf/examples/allinone/.terraform.lock.hcl
fluxfw-gcp/tf/examples/basic/.terraform.lock.hcl
fluxfw-gcp/tf/examples/containers/.terraform.lock.hcl
fluxfw-gcp/tf/examples/foundation/iam/.default
fluxfw-gcp/tf/examples/foundation/iam/default/.terraform.lock.hcl
fluxfw-gcp/tf/examples/foundation/network/.zonal
fluxfw-gcp/tf/examples/foundation/network/default/.terraform.lock.hcl
fluxfw-gcp/tf/examples/foundation/network/zonal/.terraform.lock.hcl
fluxfw-gcp/tf/examples/foundation/storage/.filestore
fluxfw-gcp/tf/examples/foundation/storage/filestore/.terraform.lock.hcl
fluxfw-gcp/tf/examples/gpu/.terraform.lock.hcl
fluxfw-gcp/tf/examples/merlin/.terraform.lock.hcl
fluxfw-gcp/tf/examples/mpi/.terraform.lock.hcl
fluxfw-gcp/tf/examples/notebooks/.terraform.lock.hcl
