manifest {
    description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
    author = 'Paolo Di Tommaso'
    nextflowVersion = '>=25.10.0'
}

/*
 * publish settings
 */
workflow.output.mode = 'copy'

/*
 * execution profiles for different environments
 */
process {
    // Default resources for all processes
    memory = '16 GB'
    machineType = 'n2-standard-8' // VM type for cloud executors like Google Batch
    
    // Specific configurations for the INDEX process
    withName: 'INDEX' {
        memory = '16 GB'
        machineType = 'n2-standard-8'
        cpus = 4
    }
}

 profiles {
     'google-batch' {
        params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
        params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
        params.multiqc = 'gs://rnaseq-nf/multiqc'
        params.bucketname  = '<your bucket name>'
        params.gcp_project = '<your gcp project>'
        params.network_name = 'default'
        params.subnet_name = 'default'
        params.location = 'us-central1'

        process.executor = 'google-batch'
        process.container = 'docker.io/nextflow/rnaseq-nf:v1.3.1'

        workDir = "gs://${params.bucketname}/scratch"
        google.location = 'us-central1'
        google.project = params.gcp_project
        google.batch.allowedLocations = ['regions/us-central1']
        /*
        * adding network information if not using default network
        */
        google.batch.network = "global/networks/${params.network_name}"
        google.batch.subnetwork = "regions/${params.location}/subnetworks/${params.subnet_name}"
    } 
 }