manifest {
    description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
    author = 'Paolo Di Tommaso'
    nextflowVersion = '>=25.10.0'
}

/*
 * params for default test data
 */
params.reads = "${projectDir}/data/ggal/ggal_gut_{1,2}.fq"
params.transcriptome = "${projectDir}/data/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
params.multiqc = "${projectDir}/multiqc"

/*
 * publish settings
 */
workflow.output.mode = 'copy'

/*
 * execution profiles for different environments
 */
process {
    // Default resources for all processes
    memory = '16 GB'
    machineType = 'n2-standard-8' // VM type for cloud executors like Google Batch
    
    // Specific configurations for the INDEX process
    withName: 'INDEX' {
        memory = '16 GB'
        machineType = 'n2-standard-8'
        cpus = 4
    }
}

 profiles {
     'google-batch' {
        params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
        params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
        params.multiqc = 'gs://rnaseq-nf/multiqc'
        process.executor = 'google-batch'
        process.container = 'docker.io/nextflow/rnaseq-nf:v1.3.1'
        /*
         * replace with your own bucket!
         */
        workDir = 'gs://<bucketname>/scratch'
        google.location = 'us-central1'
        google.project = '<GCP project name>'
        google.batch.allowedLocations = ['regions/us-central1']
        /*
        * adding network information if not using default network
        */
        google.batch.network = 'global/networks/<network-name>'
        google.batch.subnetwork = 'regions/us-central1/subnetworks/<subnet-name>'
    } 
 }