// nextflow.config
google.project = 'ai-infra-jrt-2'
google.location = 'asia-northeast3' 
process.executor = 'google-batch'
process.machineType = 'c2-standard-4'
workDir = 'gs://mybucket_jrt/nextflow_work'
docker.enabled = true
google.batch.bootDiskSize = '300 GB'
google.batch.installGpuDrivers = true
google.bootDiskImage = 'projects/batch-custom-image/global/images/family/batch-debian-11-official'
